@font-face {
   font-family: "Alternate Gothic";
   src: url("../../vendor/fonts/AlternateGothicEFNoOne.ttf");
}

/* ==========================================================================
BOOTSTRAP STYLE ADJUSTMENTS
========================================================================== */

body {
   font-family: "Oxygen", sans-serif;
   font-size: 14px;
}

.btn {
   font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   text-align: center;
}

.navbar {
   margin-bottom: 0px;
}

.navbar-inverse {
   background-color: #424242;
   border: none;
   box-shadow: 0 4px 4px -4px #111;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
   color: #fff;
   background: none;
}

.navbar-nav {
   margin: 30px auto;
   z-index: 1500;
}

.nav > li > a {
   font-family: "Montserrat", sans-serif;
   font-weight: 800;
}

.nav > li > a:first-child {
   padding-left: 0px;
}


/* ==========================================================================
NEW CSS STARTS HERE
========================================================================== */


.nav-custom > li > a {
   padding: 0px;
}

#hero {
   background-image: url(/assets/images/header-bg.jpg);
   background-size: cover;
}

.header {
   padding-top: 18em;
   padding-bottom: 4em;
   text-align: center;
   width: 100%;
}

.intro-text {
   font-size: 18px;
   font-weight: 500;
   color: #fff;
}

.intro-heading {
   font-family: "Alternate Gothic", sans-serif;
   color: #e6e6e6;
   font-weight: 400;
   font-size: 65px;
   text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
}

.header-text {
   color: #ccc;
   text-align: justify;
   margin: 30px auto;
   line-height: 1.80;
}

.logo-position {
   position: absolute;
   z-index: 2000;
   top: 40px;
   left: 50%;
   margin-left: -90px;
}

.section-title {
   color: #ccc;
   font-family: "Alternate Gothic", sans-serif;
   margin-bottom: 40px;
   font-weight: 400;
   font-size: 45px;
   letter-spacing: 3px;
}

#segment {
   padding-top: 35px;
}

#segment p {
   color: #a6a6a6;
}

.segment-description {
   margin-top: 60px;
   background: #f5f5f5;
   padding: 20px;
}

.box {
   position: relative;
   border-radius: 3px;
   background: #f9f9f9;
   border-top: 3px solid #d2d6de;
   margin-bottom: 20px;
   width: 100%;
   min-height: 340px;
   padding: 8px 1.6em;
   padding-bottom: 15px;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   opacity: 0.5;
   cursor: pointer;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -moz-osx-font-smoothing: grayscale;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: transform;
   -webkit-transition-property: -webkit-transform;
   transition-property: -webkit-transform;
   transition-property: transform;
   transition-property: transform, -webkit-transform;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
}

.disable {
   opacity: 1;
}

.box > button {
   position: absolute;
   bottom: 15px;
   left: 50%;
   margin-left: -45px;
}

.box:hover {
   -webkit-transform: translateY(-19px);
   transform: translateY(-19px);
}

.features {
   padding-left: 0px;
   margin-bottom: 18px;
}

.features > li {
   font-family: "Montserrat", sans-serif;
   list-style-type: none;
   padding: 8px;
   border-bottom: 1px solid #e6e6e6;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -moz-osx-font-smoothing: grayscale;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: box-shadow, transform;
   -webkit-transition-property: box-shadow, -webkit-transform;
   transition-property: box-shadow, -webkit-transform;
   transition-property: box-shadow, transform;
   transition-property: box-shadow, transform, -webkit-transform;
}

.features > li:last-child {
   border-bottom: none;
}

.features > li:hover {
   color: #029759;
   box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.features > li > p {
   font-family: "Oxygen", sans-serif;
   font-size: 13px;
}

.features > li:before {
   /*Using a Bootstrap glyphicon as the bullet point*/
   content: "\e013";
   font-family: 'Glyphicons Halflings';
   font-size: 10px;
   position: relative;
   margin-right: 10px;
   top: 0px;
   color: #01b169;
}


#guest-book {
   background: #2f2f2f;
}

.footer {
   background: #131313;
   padding-top: 20px;
   font-family: "Montserrat", sans-serif;
}


/* ==========================================================================
ADDITIONAL STYLING
========================================================================== */

.btn-black {
   color: #fff;
   background: #464646;
   border-color: #111;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active {
   color: #ffffff;
   background-color: #000;
   border-color: #398439;
}

.btn-orange {
   color: #fff;
   background: #e84c3d;
   border-color: #e42c1b;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active{
   color: #fff;
   background-color: #e42c1b;
   border-color: #e42c1b;
}

.btn-custon{
   box-shadow: 0 4px 4px -4px #111;
}

.box-green {
   border-top-color: #01b169;
}

.box-black {
   border-top-color: #464646;
}

.box-orange {
   border-top-color: #e84c3d;
}



/* ==========================================================================
CSS ARROWS/TRIANGLES
========================================================================== */


.header-arrow {
   position: relative;
}

.header-arrow:after {
   content: '';
   display: block;
   position: absolute;
   left: 50%;
   top: 100%;
   width: 0;
   height: 0;
   margin-left: -70px;
   border-top: 40px solid #b20300;
   border-right: 70px solid transparent;
   border-bottom: 0 solid transparent;
   border-left: 70px solid transparent;
}

.segment-arrow-green:after {
   content: '';
   display: block;
   position: absolute;
   left: 50%;
   margin-left: -20px;
   bottom: 100%;
   width: 0;
   height: 0;
   border-bottom: 30px solid #01b169;
   border-top: 20px solid transparent;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.segment-arrow-black:after {
   content: '';
   display: block;
   position: absolute;
   left: 50%;
   margin-left: -20px;
   bottom: 100%;
   width: 0;
   height: 0;
   border-bottom: 30px solid #464646;
   border-top: 20px solid transparent;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.segment-arrow-orange:after {
   content: '';
   display: block;
   position: absolute;
   left: 50%;
   margin-left: -20px;
   bottom: 100%;
   width: 0;
   height: 0;
   border-bottom: 30px solid #e84c3d;
   border-top: 20px solid transparent;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}



/* ==========================================================================
MEDIA QUERIES
========================================================================== */


@media (max-width: 768px) {
   .header {
      padding-top: 4em;
   }
   .intro-heading {
      font-size: 55px;
   }
   .nav-custom {
      text-align: center;
      padding-bottom: 10px;
   }
   .nav-custom li {
      display: inline-block
   }
   .logo-position {
      display: none;
   }
   .navbar-nav {
      margin: 5px;
   }
   .copyright {
      text-align: center
   }
   .footer-notes {
      text-align: center;
      float: none
   }
}

@media(max-width:576px) {
   body {
      font-size: 13px;
   }
   .intro-heading {
      font-size: 45px;
   }
   .intro-text {
      font-size: 17px;
   }
}
